html, body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
}

.common_container{
    position: relative;
    width: 90%;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;

}

.pin-container{
    display: flex;
    justify-content: center;
}

.drag-enabled {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}

button,
input,
textarea,
select,
a,
.task-scroll{
    -webkit-app-region: no-drag;
}

.bg{
    overflow: hidden;
    background-color: #F8F3E7;
    background-image:
            linear-gradient(rgba(102, 100, 91, 0.1) 1px, transparent 1px),
            linear-gradient(to right, rgba(102, 100, 91, 0.1) 1px, #F8F3E7 1px);
    background-size: 20px 20px;
    border-radius: 20px;
    height: 100%;
    width: 100%;
}

/*buttons and so on below here*/
/*...*/

.drag-pin{
    background-image: url("img/widjetUI/drag pin/toggle drag off.png");
    background-size: 15px 15px;
}

.task-start{
    background-image: url("img/widjetUI/task-start/Group 16.png");
    background-size: 36px 36px;
}

.logs-btn{
    background-image: url("img/widjetUI/logs/logs.png");
    background-size: 60px 60px;
}

/* new task */
.editor-btn{
    background-image: url("img/widjetUI/new task/Group 17.png");
    background-size: 64px 64px;
}